$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.user-video {
    padding: 0 64px;
    padding-bottom: 100px;
    padding-top: 16px;
    padding-left: 138px;

    @include mobile {
        padding-left: 0;
        padding: 0 8px;
        padding-top: 16px;
        padding-bottom: 64px;
    }

    .img-user-video {
        height: 302px;
        cursor: pointer;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        font-family: "Roboto", "Arial", sans-serif;

        .view-video {
            margin-top: 4px;
            font-size: 12px;
        }

        .option {
            position: relative;

            .children-option {
                position: absolute;
                top: 32px;
                width: 188px;
                right: 0;
                border-radius: 6px;
                box-shadow: 0 0 10px #d7d7d7;
            }
        }
    }

    .playing-user-video {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.35);
        display: flex;
        z-index: 1000;

        .content-user-video-play {
            margin: auto;
            width: 853px;
            height: 480px;
            cursor: pointer;

            @include tablet {
                width: 639px;
                height: 360px;
            }

            @include mobile {
                width: 492px;
                height: 277px;
            }
        }
    }
}