$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.history-comunity {
    padding-top: 55px;
    margin-left: 74px;
    height: 100vh;

    @include mobile {
        margin-left: 0;
    }

    .container {
        display: flex;
        height: 100%;

        @include tablet {
            flex-direction: column-reverse;
            height: unset;
        }

        @include mobile {
            flex-direction: column-reverse;
            height: unset;
        }

        .content-history-comunity {
            margin: 0 auto;
            text-align: center;
            margin-top: 14px;

            @include tablet {
                margin: auto;
                margin-top: 0;
            }

            @include mobile {
                margin: auto;
                margin-top: 12px;
            }

            .link-comunity {
                font-family: "Roboto", "Arial", sans-serif;
                font-size: 16px;
                text-decoration: none;
                color: #326dd5;

                span {
                    font-family: "Roboto", "Arial", sans-serif;
                    font-size: 14px;
                }
            }
        }

        .content-setting {
            width: 444px;

            @include tablet {
                margin: auto;
                width: 100%;
                background-color: #f2f2f2 !important;
                margin-bottom: 12px;
            }

            @include mobile {
                margin: auto;
                width: 100%;
                background-color: #f2f2f2 !important;
            }

            .des-setting {
                padding-top: 24px;
                margin-left: 28px;

                @include tablet {
                    margin-right: 28px;
                }

                .heading-setting {
                    font-size: 16px;
                    font-family: "Roboto", "Arial", sans-serif;
                    font-weight: 400;
                    margin-left: 14px;
                }

                a.link-setting {
                    margin-left: 14px;
                    text-decoration: none;
                    font-family: "Roboto", "Arial", sans-serif;
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .buttons {
                margin-left: 28px;
                display: flex;
                flex-direction: column;

                @include tablet {
                    margin-right: 28px;
                }
            }
        }
    }
}